
body {
	padding: 20px;
}

#button-div {
	width: 170px;
	margin: auto;
	display: block;
	margin-bottom: 20px;
}

#styleA {
	margin-right: 20px;
}


.brick {
	margin: 0 auto;
	border: solid 1px black;
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 40px;
	font-family: Tahoma;
}