
#blocks {
	display: block;
	margin: 0 auto;
	width: 680px;
}



.brick {
	display: inline-block;
	height: 150px;
	width: 100px;
	border: 0px;
	margin-right: 10px;
	border-left: dotted 10px #D0D0FF; 
	background-color: #eeeff2;
	cursor: pointer;
}

.brick:hover {
	background-color: goldenrod;
	cursor: hand;
}






