
html {
	font-family: sans-serif;
}

body 
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
	width: 800px;
	background-color: white;
	clear: both;
}



.screen {
	text-align: center;
}

img {
	margin: 20px;
	border: 1px solid gray;
}

header div {
	text-align: center;
}

h1 {
	text-align: center;
}

h2 {
 	text-align: center;
}

h3 {
	text-align: left;
}

.py {
	font-size: 80%;
	font-family: "arial unicode ms", "lucida sans unicode", sans-serif !important
}

p i{
	font-size: small;
}

div.info {
	text-align: left;
	padding: 5px;
}









div#class {
	text-align: left;
}





h3.fun-facts {
	text-align: center;
	font-size: 28px;
}

.fun-facts {
	text-align: left;
	font-family: 'Rancho', sans-serif;
	font-size: 22px;
}




div.awards{
	text-align: left;
}



div.workshops{
	text-align: left;
}



div#ta{
	text-align: left;
}

span.year {
	width: 200px;
	max-width: 200px;
	display: inline-block;
}



span.italic {
	font-style: italic;
}


div#cv{
	text-align: center;
	padding: 10px;
}

header div#resume a{
	padding: 10px;
}

ul#navlist {
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
	width: 100%;
	text-align: center;
}


#navlist li {
	display: inline;
	list-style-type: none;
	font-size: 18px;
	font-weight: bold;
	color: #520063;
	margin: 5px 15px 5px 15px;
}

#navlist a { 
	padding: 3px 10px; 
}

#navlist a:link, #navlist a:visited {
	text-decoration: none;
}

#navlist a:hover {
	text-decoration: underline;
}


