{% capture post_slug %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}

<section class="comments">
	<div class="constrain--body">
		<h2 class="comments__heading heading-2">Comments</h2>

		<div class="comments__existing js-comments" {% if site.data.comments[post_slug] == null %}aria-hidden="true"{% endif %}>
			{% if site.data.comments[post_slug] %}
				{% assign comments = site.data.comments[post_slug] | sort %}
				{% for comment in comments reversed %}
					{% assign commentData = comment[1] %}
					{% assign name = commentData.name %}
					{% assign url = commentData.url %}
					{% assign email = commentData.email %}
					{% assign message = commentData.message %}
					{% include partials/post-comment.html index=forloop.index email=email url=url name=name message=message %}
				{% endfor %}
			{% endif %}
		</div> 


		<h2 class="comments__heading heading-2">Leave a comment</h2>
		{% include partials/post-new-comment.html %}
	</div>
</section>
